<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form"  (ngSubmit)="SaveData(firstName,password)">
                            <h3 class="text-center text-info">Login</h3>
                                <div class="form-group">
                                    <label for="firstName" class="text-info">Username:</label><br>
                                    <input type="text" class="form-control" [(ngModel)]="firstName" name="firstName" required>
                                    <!-- <span *ngIf="isFieldInvalid('firstName')">
                                        Please inform your user name
                                    </span> -->
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text-info">Password:</label><br>
                                    <input type="text" class="form-control" [(ngModel)]="password" name="password">
                                    <!-- <span *ngIf="isFieldInvalid('firstName')">
                                        Please inform your password
                                    </span> -->
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>